.root {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  min-height: 64px;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.nativeSelect {
  display: flex !important;
  justify-content: space-around;
  height: 100%;

  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 20px;
}
.selectCourse {
  flex-grow: 1;
  height: 100%;
}
.formControl {
  height: 100%;
  justify-content: center;
  position: relative;
}

.inputBase {
  margin-left: 12px;
  width: 80%;
  display: flex;
  flex: 1 !important;
  padding: 5px;
  justify-content: left;
}
.list_khoahoc_wrapper {
  position: relative;
}

.list_khoahoc {
  position: absolute;
  width: 100%;
  max-height: 20rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}
.username {
  line-height: 2.5 !important;
  font-size: 16px !important;
  cursor: pointer;
  font-weight: bold !important;
  min-width: 85px;
}
.username:hover {
  color: #f55f8d;
}
.title_khoahoc_wrapper {
  width: 100%;
  padding: 10px 10px;
  cursor: pointer;
}
.button_delete {
  color: red;
  position: absolute;
  right: 30px;
  font-weight: bold;
}
.logout_button {
  font-size: 16px !important;
  min-width: 150px !important;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: #fff;
  border: 2px solid #000;
  overflow-y: scroll;
  box-shadow: 24;
  padding: 15px;
}
.modal h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}
@media screen and (max-width: 1200px) {
  .username {
    line-height: 1.5 !important;
    font-size: 14px !important;
  }
}
@media screen and (max-width: 992px) {
  .username {
    line-height: 1.5 !important;
    font-size: 14px !important;
  }
  .logout_button {
    font-size: 12px !important;
  }
  .modal {
    width: 800px !important;
    height: 500px !important;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    width: 650px !important;
    height: 450px !important;
  }
  .modal h1 {
    font-size: 20px !important;
    padding: 10px 0 !important;
  }
  .modal h2 {
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 630px) {
  .modal {
    width: 500px !important;
    height: 400px !important;
  }
  .modal h1 {
    font-size: 16px !important;
    padding: 5px 0 !important;
  }
  .modal h2 {
    font-size: 0.75rem !important;
  }
  .modal h4 {
    font-size: 0.75rem !important;
  }
}
