.background {
  background-image: url(../../../assets/teach.png);
  height: auto;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.title {
  text-align: center;
  font-size: 35px !important;
  font-weight: bold !important;
  padding: 30px 0;
}
.wrapper {
  text-align: center;
  padding: 20px 0;
  align-items: center;
}
.wrapper_item {
  text-align: center;
  padding: 20px 0;
}
.content h3 {
  font-size: 35px;
  font-weight: bold;
}
.item h3 {
  font-size: 20px;
  font-weight: bold;
}

.item img {
  transition: all 1s;
}
.item img:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 992px) {
  .item h3 {
    font-size: 18px !important;
    line-height: 1.5 !important;
  }
  .item p {
    font-size: 14px;
  }
  .content h3 {
    font-size: 30px;
  }
}
